/*regras de formatação*/

* {box-sizing: border-box;} /*Seletor Universal Alternando o comportamento do Box Model CSS. Usando esta regra evitamos os problemas encontrados ao se usar width, height, padding e border ao mesmo tempo.*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*fonte*/
    background-image: url(../imagens/tarde.jpg);
    /*imagem de fundo*/
    background-attachment: fixed;
    /*fundo fixo*/
    background-size: cover;
    /*tamanho*/

}

/*seletor identificado*/
#container {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    border-radius: 8px;
    /*arredeondamento*/
    padding: 16px;
    /*espaçamento interno*/
    box-shadow: black 10px 10px 20px, green -20px -30px 50px;
    /*sombra*/
}

img {
    max-width: 100%;
    /*melhor que o width*/
}

figure {
    text-align: center;
    /*centralisar texto*/
}

h1 {
    font-family: impact, verdana, Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
    padding-top: 70px;/*espaçamento cima*/
    padding-bottom: 70px;/*espaçamento baixo*/
    /*espaçamento dentro do funddo*/

    background-color: rgba(0, 0, 0, 0.63);
    margin: 0;
    /*espaçamento fora do fundo*/
    border-top-left-radius: 10px;/*arredondamento superior esquerdo*/
    border-top-right-radius: 10px;/*arredondamento superior direito*/
    /* aternativa border-radius: 10px 10px 0px 0px*/
    text-shadow: black 15px 15px 20px;
    text-transform: uppercase;
    /*letras maiusculas*/
    letter-spacing: 5px; /*espaço entre letras*/
    font-weight: normal; /*coloca e tira negrito*/

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;

    /*-webkit-=chrome, -moz-=firefox, -o-=opera*/

}

h2 {
    font-size: 20px;
    border-bottom-style: solid ;
    border-bottom-width: 5px ;
    border-left-style: solid ;
    border-left-width: 20px ;
    border-left-color: rgb(0, 0, 0);
    padding-left: 30px;
    /* margin-left: 30px */
}

a {
    text-decoration: none;/*mudança geral */ 
}




figure img{
    transform: scale(0.8);
    transition: 1s;
    filter: grayscale(100%);
}

/*houver: ação ao passar o mause*/
figure img:hover{
    transform: scale(1) rotatex(360deg);
    filter: grayscale(0);
}


/*seletor agrupado*/
p, li {
    font-size: 18px;
}

/*li {font-size: 18px;}*/


/*seletor classes*/
.cent{ text-align: center;}
.sombra{ text-shadow: green 1px 1px 3px;}
.destaque{
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.destaque-back {
    background-color: yellow;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}


/**Regars de menu e link**/

nav{
    text-align: center;
}

/*seletor descendente*/
nav a{ 
    color: red;
    font-weight: bold;
    background-color: aqua;
    display: inline-block;/*tranforma em inline e block*/
    width: 50%;
    padding: 1%;
    /*  transition: 2s; aplica o efeito na saida e na volta*/
   


    /* padding-block: 5%; espaço de dentro do fundo */

    border: solid 1px;

    /*alternativa antiga ao padding-block
    box-sizing: border-box; */
}/*mudança especifica*/

/*Regras para o estado de acontecimento dos links*/


nav a:hover, nav a:focus  {
    background-color: blue;
    transition: 1s;
    
}

nav a:first-child{
    border-bottom-left-radius: 8px;

}

nav a:last-child{
    border-bottom-right-radius: 8px;
}



/*lista*/
ul{
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

ul li{
    color: cadetblue;
    list-style-type: square;
}

ul li::marker{
    content: "✨";/*"windows" + "."*/
    color: bisque;
    font-size: 24px;
    font-weight: 32px;
}

/*alteração especifica em algum item da lista*/
ul li:first-child{font-weight: bold;}/*primeiro item da lista*/
ul li:last-child{font-style: italic;}/*ultimo item da lista*/
ul li:nth-child(3){color: aqua;}/*qualquer item da lista*/



/* cores alternadas */
ul li:nth-child(even) {background-color: red;}
ul li:nth-child(odd) {background-color: blue;}

details {
    border: solid 2px;
    padding: 8px;
}

summary{
    font-size: bold;
}

summary::marker{content: "👉";}
  
  /* seletor de atributo */

  details[open] summary::marker {
    content: "👇";
  }